* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #97aabd;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px;
  background-color: #272727;
}

table tr td {
  width: 90px;
  height: 90px;
  border: 1px solid black;
  font-size: 35px;
  text-align: center;
}

table tr td:hover {
  background: #2c3531;
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal{
    width: 300px;
    height: 300px;
    position: fixed;
    background-color: white;
    z-index: 2;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.hidden{
    display: none;
}

.winner{
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.modal button{
    padding: 10px;
    background: rgb(22, 185, 235);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .4s;
}

.modal button:hover{
    background: rgb(7, 157, 202);
}

.winner__x{
    background: rgb(47, 255, 75);
}

.winner__o{
    background: #e85a4f;
}